Requirements

- web accessible 
- portal for chapters to login and manage their membership roster, finances, submit documents/paperwork
- admin portal with access to all chapters
- Integration with g-suite (sign-ins, drive, calendar, etc)
